@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins" , sans-serif;
  list-style: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    box-shadow: 0 10px 15px  rgba(0, 0, 0, 0.844);
    background-color:beige ;
    z-index: 10;
    position: sticky;
    left:0;
    top: 0;
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    }
#nav-bar ul{
    position: fixed;
    top: 0;
    width: 100%;
}
#nav-bar li{
    padding: 0 20px;
    position: relative;
}
#nav-bar a{
    font-size: 20px;
    font-weight: 600;
    color:rgb(34, 4, 43)
}
.logo h1{
    font-size: 30px;
    text-decoration: double;
    color: rgb(20, 3, 53);
    font-style: italic;
}
/* highlight current page */

#nav-bar a:hover,
#nav-bar a.active{
    color:rgba(23, 104, 225, 0.841);
    transition: .5s ease;
}
#section1{
    background-color: pink;
}
* a{
    text-decoration: none;
}